@{
    ViewBag.Title = "Swimduler";
}

<div class="jumbotron">
    <h1>Swimduler</h1>
    <p class="lead">Praktyczna aplikacja do zarządzania twoim planem zajęć na basenie.</p>
</div>

<div class="row">
    <div class="col-md-4">
    @if (User.IsInRole("Admin"))
    {
        <h2>Witaj!</h2>
        <p>
            Możesz już korzystać z wygodnego kalendarza oraz zarządzać swoimi lekcjami, grupami zajęciowymi oraz klientami.
        </p>
        <p>@Html.ActionLink("Przejdź do kalendarza...", "Index", "Calendar")</p>
    }
    else if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()
            <h2>Witaj!</h2>
            <p>
                ... i wybacz, ale funkcjonalności dla zwykłego użytkownika nie są w tej chwili dostępne. Zapraszamy za jakiś czas.
            </p>
            <p><a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj się...</a></p>
        }
    }
    else
    {
        <h2>Uzyskaj dostęp</h2>
        <p>
            Zaloguj się na swoje konto, by korzystać z wygodnego kalendarza oraz zarządzać swoimi lekcjami, grupami zajęciowymi oraz klientami.
        </p>
        <p>@Html.ActionLink("Przejdź do logowania...", "Login", "Account")</p>
    }
    </div>
    <div class="col-md-4">
        <h2>O aplikacji</h2>
        <p>Swimduler jest projektem zaliczeniowym z przedmiotu Aplikacje Internetowe. Niektóre z użytych technologii: ASP.NET MVC5, Entity Framework, JavaScript, BootStrap.</p>
        <p>@Html.ActionLink("Czytaj więcej...", "About", "Home")</p>
    </div>
    <div class="col-md-4">
        <h2>Kontakt</h2>
        <p><span class="glyphicon glyphicon-phone"></span> 725538846<br>
        <span class="glyphicon glyphicon-envelope"></span><a href="mailto:dominika.bogu.bogusz@gmail.com"> dominika.bogu.bogusz@gmail.com</a></p>
        <p>@Html.ActionLink("Szczegóły...", "Contact", "Home")</p>
    </div>
</div>

