@model Swimduler.Models.Lesson

@{
    ViewBag.Title = "Szczegóły wybranej lekcji";
}

<h2>Szczegóły wybranej lekcji</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Group.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Beginning)
        </dt>

        <dd>
            @{
                var begginingDisp = Model.Beginning.ToString("dd-MMM-yyyy HH:mm (dddd)", System.Globalization.CultureInfo.CreateSpecificCulture("pl-PL"));
            }
            @Html.DisplayFor(model => begginingDisp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @{
                var min = (Model.Duration.Minutes > 9) ? Model.Duration.Minutes.ToString() : "0" + Model.Duration.Minutes.ToString();
                var durationDisp = Model.Duration.Hours + "h " + min + "min";
            }
            @Html.DisplayFor(model => durationDisp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cycle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cycle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThemeColor)
        </dt>

        <dd style="height: 20px; width: 40px; background-color: @Model.ThemeColor">
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Wróć do listy", "Index")
</p>
