@model IEnumerable<Swimduler.Models.Lesson>

@{
    ViewBag.Title = "Spis lekcji";
}

<h2>Spis lekcji</h2>

<p>
    @Html.ActionLink("Dodaj nową lekcję", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Group.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Beginning)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Group.Name)
            </td>
            <td>@{
                    var begginingDisp = item.Beginning.ToString("dd-MMM-yyyy HH:mm", System.Globalization.CultureInfo.CreateSpecificCulture("pl-PL"));
                }
                @Html.DisplayFor(modelItem => begginingDisp)
            </td>
            <td>
                @{
                    var min = (item.Duration.Minutes > 9) ? item.Duration.Minutes.ToString() : "0" + item.Duration.Minutes.ToString();
                    var durationDisp = item.Duration.Hours + "h " + min + "min";
                }
                @Html.DisplayFor(modelItem => durationDisp)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Szczegóły", "Details", new { id = item.Id }) |
                @Html.ActionLink("Usuń", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
